body{
margin: 0;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;
font-weight: 100;
}

#container{
width: 800px;
margin: auto;
}

#img{
text-align: center;
}

#img img{
width: 600px;
}

#container p{
text-align: center;
}

#programmer{
width: 800px;
margin-left: 80px;
}

.happyprogrammer{
width: 400px;
text-align:center;
margin-left: 20px;
}

#ID1{
position:absolute;
margin-top: 150px;
}

#footer{
text-align: center;
margin-top: 10px;
}

#social{
text-align:center;
}

#social a{
text-decoration: none;
opacity: .8;
-webkit-transition: opacity  0.4s ease-out;
-moz-transition: opacity  0.4s ease-out;
-o-transition: opacity  0.4s ease-out;
-ms-transition: opacity  0.4s ease-out;
transition: opacity  0.4s ease-out;
}

#social a:hover{
opacity: 1.0;
-webkit-transition: opacity  0.4s ease-out;
-moz-transition: opacity  0.4s ease-out;
-o-transition: opacity  0.4s ease-out;
-ms-transition: opacity  0.4s ease-out;
transition: opacity  0.4s ease-out;
}

#social img{
width: 40px;
margin-right: 20px;
margin-left: 20px;
}
