body{
margin: 0;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;
font-weight: 100;
}

#container{
width: 800px;
margin: auto;
}

#img{
text-align: center;
}

#img img{
width: 600px;
}

#container p{
text-align: center;
}

#happyprogrammer{
width: 500px;
margin:auto;
}

#happyprogrammer img{
width: 200px;
}

#happyprogrammertext{
position: absolute;
left: 940px;
top: 600px;
}

#footer{
text-align: center;
margin-top: 20px;
}