body{
margin: 0;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;
font-weight: 100;
}

#container{
width: 800px;
margin: auto;
}

#img{
text-align: center;
}

#img img{
width: 600px;
}

#container p{
text-align: center;
}

#programmer{
width: 800px;
margin-left: 100px;
}

.happyprogrammer{
width: 300px;
display: inline-table;
text-align:center;
}

.happyprogrammer img{
width: 200px;
}

#ID1{
position:absolute;
margin-top: 150px;
}

#footer{
text-align: center;
margin-top: 40px;
}